table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
    background-color: floralwhite;
    border-radius: 6px;
}

th {
    background-color: floralwhite;
    color: black;
    font-family: 'Lucida Sans';
}

th,
td {
    width: 250px;
    text-align: left;
    margin: 30px;
    padding: 5px;
    font-family: 'Lucida Sans';
    
}
