@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,700&display=swap');

* {
    /** Allows us to add Borders and padding without having to add to the width of an element  */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

button {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Navbar */
.navbar {
    color: #FFFF;
    height: 180px;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid black;
}
    .navbar nav {
        align-self: start;
    }
    .navbar ul {
        list-style: none;
        display: flex;
        position: relative;
        top: 3px;
    }
    .navbar li > button {
        /* Remove Default Styles */
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        /* Add Styles */
        min-width: 100px;
        color: black;
        padding: 0 5px;
        margin: 0 5px;
        display: block;
        text-align: center;
        background: none;
        border: 3px solid #FFFF;
        border-bottom: 3px solid black;
        /* Curved Corners*/
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
    }
        .navbar li > button:hover {
            /* Hover Transision*/
            -webkit-transition: border-color 0.2s ease-in;
            -moz-transition: border-color 0.2s ease-in;
            -o-transition: border-color 0.2s ease-in;
            transition: border-color 0.2s ease-in;
            -webkit-transition: border-bottom-color 0.2s ease-in;
            -moz-transition: border-bottom-color 0.2s ease-in;
            -o-transition: border-bottom-color 0.2s ease-in;
            transition: border-bottom-color 0.2s ease-in;
            border-color: black;
            border-bottom-color: white;
        }
        .navbar li > button#open, .navbar li > button#open:hover {
            border-color: black;
            border-bottom: 3px solid white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;

        }

        .navbar .flex {
        justify-content: space-between;
        flex-direction: column;
    }
#logout {
    align-self:end;
}

/* Showcase */


/* Utilities */
.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: visible;
    padding: 8px 8px 0 8px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* Media Queries */