@{
    Layout = "_Layout";
	<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
		<link href="c:\users\meist\documents\github\uts-softwaredesignstudio-project\groupcreationproject\groupcreationproject\style\indexstylesheet.css" rel="stylesheet" />
	</head>
	<body>

	</body>
	</html>
}
