@{
    ViewData["Title"] = "Home Page";
}
<html>  
    <head>
	<link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
	<link href="c:\users\meist\documents\github\uts-softwaredesignstudio-project\groupcreationproject\groupcreationproject\style\indexstylesheet.css" rel="stylesheet" />
	
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: linear-gradient(to bottom right, floralwhite, #C1E1C1);
        }

        h1 {
            font-family: 'Lucida Sans';
        }

        .sub {
            font-family: 'Lucida Sans';
            font-size: 30px;
            color: black;
        }

        .button {
            font-family: 'Lucida Sans';
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            color: #ffff;
            background-color: black;
            border-radius: 6px;
            outline: none;
        }

        img {
            border: 1px solid white;
            border-radius: 50%;
        }
    </style>
    </head>

    <body>
	<center>
		<p></p>
		<img src="/images/uts_image.jpg" width="220" height="220" />
			<p></p>
		<h1 class="display-4"> <strong>Group Management System</strong></h1>
		<p class="sub" >Software Design Studio</p>
		<a class="button" href="/Login"> Login </a>
		<p></p>	
	</center>	
    </body>
</html>

<div class="text-center">
    

</div>

