@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Press the Button to log in.</p>
    <a href="/Login"><input id="Button1" type="button" value="Login" /></a>

</div>
