<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user/_categoriesPartial.css" asp-append-version="true" />

    <style>

        body{
            background-image: linear-gradient(to bottom right, floralwhite, #C1E1C1);
            background-repeat: no-repeat;
        }

        table{
            background-color: floralwhite;
            border-radius: 6px;
        }
        th{
            font-family: 'Lucida Sans';
            border-radius: 7px;
            background-color: #D0F0C0;
        }

        button{
            font-family: 'Lucida Sans';
            display: inline-block;
            text-align: center;
            text-decoration: none;
            color: #ffff;
         background-image: linear-gradient(to right, black, black);
            border-radius: 6px;
            outline: none;
        }

        input[type=submit]{
            font-family: 'Lucida Sans';
            text-align: center;
            text-decoration: none;
            color: #ffff;
            background-image: linear-gradient(to right, black, black);
            border-radius: 6px;
            outline: none;
        }
    </style>
</head>

<body>
    <form>
        <table>
            <tr>
                <th>
                    PREFERENCES @if (User.IsInRole("teacher"))
                    {
                        <button type="button" onclick="addPrefShowModal('prefList')" class="btn-primary">Add</button>
                    }
                </th>
                <th>
                    BACKGROUND  @if (User.IsInRole("teacher"))
                    {
                        <button type="button" onclick="addPrefShowModal('bgList')" class="btn-primary">Add</button>
                    }
                </th>
            </tr>
            <tr>
                <td>
                    <ul id="prefList">
                        <li id="li_p1">
                        </li>
                    </ul>
                </td>
                <td>
                    <ul id="bgList">
                        <li id="li_b1">
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>
                    INTERESTS   @if (User.IsInRole("teacher"))
                    {
                        <button type="button" onclick="addPrefShowModal('intList')" class="btn-primary">Add</button>
                    }
                </th>
                <th>
                    SKILLS      @if (User.IsInRole("teacher"))
                    {
                        <button type="button" onclick="addPrefShowModal('skillList')" class="btn-primary">Add</button>
                    }
                </th>
            </tr>
            <tr>
                <td>
                    <ul id="intList">
                        <li id="li_i1">
                        </li>
                    </ul>
                </td>
                <td>
                    <ul id="skillList">
                        <li id="li_s1">
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

        <input type="submit" value="Submit">
    </form>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var buttonAccess = @(User.IsInRole("teacher").ToString().ToLower()); //if it works, it works

        $(document).ready(function () {
            loadPrefs();
            if (!buttonAccess) {
                hidebuttons()
            }
        })

        function hidebuttons() {
            $(".del").hide()
        }

        function addPrefShowModal(listName) {
            var newname = prompt('Enter the name of the new preference'); //couldn't be bothered to do an actual modal
            addPref(listName, newname);
        }

        function addPref(listName, name) {
            
            var listid;

            switch (listName) {
                case "prefList":
                    listid = 1; break;
                case "bgList":
                    listid = 2; break;
                case "intList":
                    listid = 3; break;
                case "skillList":
                    listid = 4; break;
            }

            var prefObj = {
                Name : name,
                Details : '',
                CategoryListId : listid,
                CategoryItemId : 0
            }

            var newid;
            
            $.ajax({
                url: 'https://localhost:7041/CategoryItems',
                type: 'POST',
                data: JSON.stringify(prefObj),
                contentType: 'application/json',
                success: function(data, status, jqxhr) {
                    newid = data;
                },
                error: function(data, status, jqxhr) {
                    console.log(status);
                    console.log(data);
                    console.log(jqxhr);
                },
                async: false,
            });

            addPrefUI(listName, name, newid);  
        }

        function addPrefUI(listName, name, id){
             var li = `
                     <li id="li_${id}">
                        <div class="row">

                          <div class="col-md-6">
                            <input type="checkbox" id="cb_${id}" name="${name}" value="${id}">
                            <label for="$cb_{name}">${name}</label>
                          </div>
                          <div class="col-md-6">
                            <button onclick="deletePrefLi('${id}')" type="button" class="del btn-danger">Delete</button>
                           </div>
                        </div>

                     </li>
                     `
                    
            $("#" + listName).append(li)
        }

        function loadPrefs() {
            var prefs; 
            
            $.ajax({
                url: 'https://localhost:7041/CategoryItems',
                type: 'GET',
                contentType: 'application/json',
                success: function(data, status, jqxhr) {
                    prefs = data;
                },
                error: function(data, status, jqxhr) {
                    console.log(status);
                    console.log(data);
                    console.log(jqxhr);
                },
                async: false,
            });


            prefs.forEach(function(e, i) {
                var listid;
                console.log('categoryId', e.categoryListId)

                switch (e.categoryListId) {
                    case 1:
                        listid = "prefList"; break;
                    case 2:
                        listid = "bgList"; break;
                    case 3:
                        listid = "intList"; break;
                    case 4:
                        listid = "skillList"; break;

                }
                console.log(listid, e.name);
                addPrefUI(listid, e.name, e.categoryItemId);
            });
        }

        function deletePrefLi(id) {

            $.ajax({
                url: 'https://localhost:7041/CategoryItems?id=' + id,
                type: 'DELETE',
                contentType: 'application/json',
                success: function(data, status, jqxhr) {
                    prefs = data;
                    console.log(data, status, jqxhr);
                },
                error: function(data, status, jqxhr) {
                    console.log(status);
                    console.log(data);
                    console.log(jqxhr);
                },
                async: false,
            });

            if (buttonAccess) {
                $('#li_' + id).remove();
            }
        }

    </script>

</body>
</html>
