<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/user/categories.css" asp-append-version="true" />
</head>


<body>
    <form>
    <table>
        <tr>
            <th>PREFERENCES</th>
            <th>BACKGROUND</th>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="p1" name="p1" value="p1">
                <label for="p1">Preference 1</label><br>

                <input type="checkbox" id="p2" name="p2" value="p2">
                <label for="p2">Preference 2</label><br>

                <input type="checkbox" id="p3" name="p3" value="p3">
                <label for="p3">Preference 3</label><br>
            </td>
            <td>
                <input type="checkbox" id="b1" name="b1" value="b1">
                <label for="b1">Background 1</label><br>

                <input type="checkbox" id="b2" name="b2" value="b2">
                <label for="b2">Background 2</label><br>

                <input type="checkbox" id="b3" name="b3" value="b3">
                <label for="b3">Background 3</label><br>
            </td>
        </tr>
        <tr>
            <th>INTERESTS</th>
            <th>SKILLS</th>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="i1" name="i1" value="i1">
                <label for="i1">Interest 1</label><br>

                <input type="checkbox" id="i2" name="i2" value="i2">
                <label for="i2">Interest 2</label><br>

                <input type="checkbox" id="i3" name="i3" value="i3">
                <label for="i3">Interest 3</label><br>
            </td>
            <td>
                <input type="checkbox" id="s1" name="s1" value="s1">
                <label for="s1">Skill 1</label><br>

                <input type="checkbox" id="s2" name="s2" value="s2">
                <label for="s2">Skill 2</label><br>

                <input type="checkbox" id="s3" name="s3" value="s3">
                <label for="s3">Skill 3</label><br>
            </td>
        </tr>
    </table>

    <input type="submit" value="Submit">
    </form>
</body>
</html>
