<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user/_studentsPartial.css" asp-append-version="true" />
</head>


<body>
    <div class="col-md-3">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="mb-2 text-center text-primary border-bottom">Stu_ID</strong>
                <div class="row mb-2">
                    <div class="col position-start">Preference </div>
                    <div class="col position-end"><p class="text-end">Email</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
