<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user/_studentsPartial.css" asp-append-version="true" />
</head>


<body>
    <div>STUDENT</div>
</body>
</html>
