

<button id="Test" onclick="showGroupsPartial()" >Groups</button>
<button class="" onclick="showStudentsPartial()" >Students</button>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    
<script type="text/javascript">

function showGroupsPartial(){
    $('#GroupsPartial').modal('show');
}
function showStudentsPartial(){
    $('#StudentsPartial').modal('show');
}

</script>