@{
    ViewData["Title"] = "Student Page";
    
}

<!DOCTYPE html>

<html> 
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/user/student.css" asp-append-version="true" />
    </head>

    <body>
        @if (User.IsInRole("student"))
        {
        <!-- Navbar -->
	    <div class="navbar">
		    <div class="container flex">
			    <button id="logout" class="btn btn-primary">Logout</button>
			    <nav>
				    <ul>
					    <li><button onclick="    showPartial(this, 'ProfilePartial');">Profile</button></li>
					    <li><button onclick="showPartial(this, 'CategoriesPartial');">Categories</button></li>
				    </ul>
			    </nav>
                
		    </div>
	    </div>

        <main class="siteContent">
            <section class="showcase">
	            <div class="container" id="CategoriesPartial" style="display: none;">
                    <partial name="~/Views/User/_CategoriesPartial.cshtml"/>
	            </div>
            </section>

            <div id="ProfilePartial">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
                <label><strong>First Name:</strong> </label> <p id="firstname"></p>
                <label><strong>Last Name: </strong></label> <p id="lastname"></p>
                <label><strong>Email:     </strong>  </label> <p id="email"></p>
                <label><strong>Skills:    </strong>  </label> <p id="skills"></p>
                <label><strong>Preferences:    </strong>  </label> <p id="prefs"></p>
                <br>
                <br />
                <br />
                <label>Change Skill</label>
                <input type=text id="skillinput"/>
                <label>Change Pref</label>
                <input type=text id="prefinput"/>
                <button onclick="UpdateUserClicked()">update user</button>
            </div>
        </main>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script>
            var StudentData
            var visiblePartial = null;
            var selectedBtn = null;

            $(document).ready(function(){
                var studentId = @User.Claims.Where(a => a.Type == "id").FirstOrDefault().Value;
                StudentData = getStudentData(studentId)
                console.log(StudentData)

                $("#firstname").text(StudentData.firstName)
                $("#lastname").text(StudentData.lastName)
                $("#email").text(StudentData.email)
                $("#skills").text(StudentData.skills)
                $("#prefs").text(StudentData.preferences)

            })

            function getStudentData(studentId) {
                    var studentData
            
                    $.ajax({
                        url: 'https://localhost:7041/Students/' + studentId,
                        type: 'GET',
                        success: function(data, status, jqxhr) {
                            studentData = data;
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                    })

                    return studentData;
            }

            function updateStudent(skills, preferences) {
                StudentData.skills = skills;
                StudentData.preferences = preferences;
        
                $.ajax({
                        url: 'https://localhost:7041/Users',
                        type: 'PUT',
                        data: JSON.stringify(StudentData),
                        contentType : 'application/json',
                        success: function(data, status, jqxhr) {
                            location.reload();
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                    })
            }

            function UpdateUserClicked() {
                var skilltext = $("#skillinput").val()
                var preftext = $("#prefinput").val()
    
                updateStudent(skilltext, preftext);
            }

            function showPartial(eventBtn, partialId){
                eventBtn.disabled = true;
                if (visiblePartial !== null ) {
                    visiblePartial.style.display = 'none';
                }
                visiblePartial = document.getElementById(partialId);
                visiblePartial.style.display = 'block';

                if (selectedBtn !== null) {
                    selectedBtn.removeAttribute('id');
                    selectedBtn.disabled = false;
                }
                selectedBtn = eventBtn;
                selectedBtn.setAttribute('id', 'selectedBtn');
            }

        </script>
    }
    else
    {
        <div>
            <p>Access Denied</p>
        </div>
    }


    </body>
    
</html>