@{
    ViewData["Title"] = "Student Page";
    
}

<!DOCTYPE html>

<html> 
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/user/student.css" asp-append-version="true" />
    </head>

    <body>
        @if (User.IsInRole("student"))
        {
        <!-- Navbar -->
	    <div class="navbar">
		    <div class="container flex">
			    <button  id="logout" class="btn btn-primary"><a href="/">Logout</a></button>
			    <nav>
				    <ul>
					    <li><button onclick="    showPartial(this, 'ProfilePartial');" id="selectedBtn">Profile</button></li>
					    <li><button onclick="showPartial(this, 'CategoriesPartial');">Categories</button></li>
					    <li><button onclick="showPartial(this, 'groupPartial');">My Group</button></li>
				    </ul>
			    </nav>
                
		    </div>
	    </div>

        <main class="siteContent">
            <section class="showcase">
	            <div class="container" id="CategoriesPartial" style="display: none;">
                    <partial name="~/Views/User/_CategoriesPartial.cshtml"/>
	            </div>
            </section>

            <div id="ProfilePartial">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
                <label><strong>First Name:</strong> </label> <p id="firstname"></p>
                <label><strong>Last Name: </strong></label> <p id="lastname"></p>
                <label><strong>Email:     </strong>  </label> <p id="email"></p>
            </div>

            <div id="groupPartial" style="display: none;">
                <h1 id="GroupName"></h1>
                <div id="message">You are current not in a group, please check again when you have been assigned to a group</div>
                <table id="gtable">
                    <tr>
                        <th> First Name </th>
                        <th> Last Name</th>
                        <th> Email </th>
                    </tr>
                </table>
            </div>

        </main>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script>
            var StudentData
            var visiblePartial = document.getElementById("ProfilePartial");
            var selectedBtn = document.getElementById("selectedBtn");

            $(document).ready(function(){
                var studentId = @User.Claims.Where(a => a.Type == "id").FirstOrDefault().Value;
                StudentData = getStudentData(studentId)
                console.log(StudentData)

                $("#firstname").text(StudentData.firstName)
                $("#lastname").text(StudentData.lastName)
                $("#email").text(StudentData.email)
                $("#skills").text(StudentData.skills)
                $("#prefs").text(StudentData.preferences)

                showGroup(StudentData.groupId);

            })

            function showGroup(groupId){
                if (groupId != null) {

                    var group = getGroupData(groupId)
                    var studentList = getGroupStudents(groupId);

                    console.log(group, studentList);
                    console.log(group.groupName);
                    $("#GroupName").text(group.groupName);
                    $("#message").empty();
                    studentList.forEach(function(e, i) {
                        $("#gtable").append(`<tr>
                            <td>${e.firstName}</td>
                            <td>${e.lastName}</td>
                            <td>${e.email}</td>
                        </tr>`)
                    })

                }
            }

            function getGroupStudents(id){
                var studentsdata;
                $.ajax({
                        url: 'https://localhost:7041/Students/',
                        type: 'GET',
                        success: function(data, status, jqxhr) {
                            studentsdata = data;
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                })

                return $.grep(studentsdata, function(element) { return element.groupId == id });
            }

            function getGroupData(id){
                var group;
                $.ajax({
                        url: 'https://localhost:7041/Groups/' + id,
                        type: 'GET',
                        success: function(data, status, jqxhr) {
                            console.log(data);
                            group = data;
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                })
                console.log(group);
                return group;
            }

            function getStudentData(studentId) {
                    var studentData
            
                    $.ajax({
                        url: 'https://localhost:7041/Students/' + studentId,
                        type: 'GET',
                        success: function(data, status, jqxhr) {
                            studentData = data;
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                    })

                    return studentData;
            }

            function updateStudent(skills, preferences) {
                StudentData.skills = skills;
                StudentData.preferences = preferences;
        
                $.ajax({
                        url: 'https://localhost:7041/Users',
                        type: 'PUT',
                        data: JSON.stringify(StudentData),
                        contentType : 'application/json',
                        success: function(data, status, jqxhr) {
                            location.reload();
                        },
                        error:  function(data, status, jqxhr) {
                            console.log(status);
                        },
                        async: false,
                    })
            }

            function UpdateUserClicked() {
                var skilltext = $("#skillinput").val()
                var preftext = $("#prefinput").val()
    
                updateStudent(skilltext, preftext);
            }

            function showPartial(eventBtn, partialId){
                eventBtn.disabled = true;
                if (visiblePartial !== null ) {
                    visiblePartial.style.display = 'none';
                }
                visiblePartial = document.getElementById(partialId);
                visiblePartial.style.display = 'block';

                if (selectedBtn !== null) {
                    selectedBtn.removeAttribute('id');
                    selectedBtn.disabled = false;
                }
                selectedBtn = eventBtn;
                selectedBtn.setAttribute('id', 'selectedBtn');
            }

        </script>
    }
    else
    {
        <div>
            <p>Access Denied</p>
        </div>
    }


    </body>
    
</html>