@{
    ViewData["Title"] = "Teacher Page";
    
}

<!DOCTYPE html>

<html> 
    
<partial name="_UserHead" />

<body>
    <partial name="_ViewWrapper" />
    @if (true)
    {
        <div>

        </div>
    }else {
        
    }

</body>

</html>