@{
    ViewData["Title"] = "Teacher Page";
    
}

<!DOCTYPE html>

<html> 
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/user/student.css" asp-append-version="true" />
    </head>

    <body>
        <!-- Navbar -->
	    <div class="navbar">
		    <div class="container flex">
			    <button id="logout" class="btn btn-primary">Logout</button>
			    <nav>
				    <ul>
					    <li><a href="index.html">Students</a></li>
					    <li><a href="features.html">Groups</a></li>
					    <li><a href="docs.html">Categories</a></li>
				    </ul>
			    </nav>
		    </div>
	    </div>

        <!-- Showcase -->
        <section class="showcase">
	        <div class="container grid">
		        <div class="showcase-text">
			        <h1>Potato Review</h1>
			        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi laboriosam odio alias quam ab fuga, perferendis sint neque? Quam necessitatibus natus ex aspernatur magni molestias maiores enim odit veniam debitis?</p>
			        <a href="features.html" class="btn btn-outline">Read More</a>
		        </div>
		        <div class="showcase-form card">
			        <h2>Request a Demo</h2>
			        <form>
				        <div class="form-control">
					        <input type="text" name="name" placeholder="Name">
				        </div>
				        <div class="form-control">
					        <input type="text" name="company" placeholder="Company Name">
				        </div>
				        <div class="form-control">
					        <input type="email" name="email" placeholder="Email">
				        </div>
				        <input type="submit" value="Send" class="btn btn-primary">
			        </form>
		        </div>
	        </div>
        </section>

        <!-- Scripts -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript">
            var studentsList;

            $(document).ready(function(){
                getStudents();
                console.log(studentsList);
            })
        
            function getStudents(){
                $.ajax({
                    url: 'https://localhost:7041/Users',
                    type: 'GET',
                    success: function(data, status, jqxhr) {
                        studentsList = data;
                    },
                    error:  function(data, status, jqxhr) {
                        console.log(status);
                    },
                    async: false,
                })
            }
        
            function getStudentData(studentId) {
                var studentData
            
                $.ajax({
                    url: 'https://localhost:7041/Users/' + studentId,
                    type: 'GET',
                    success: function(data, status, jqxhr) {
                        studentData = data;
                    },
                    error:  function(data, status, jqxhr) {
                        console.log(status);
                    },
                    async: false,
                })

                return studentData;
            }
            
            function showGroupsPartial(){
                $('#GroupsPartial').modal('show');
            }
            function showStudentsPartial(){
                $('#StudentsPartial').modal('show');
            }
            function logout(){
                $('#StudentsPartial').modal('show');
            }

            function studentDetailsClicked(studentId) { //This runs when a student is selected, anda  model should show up showing the student details 
                var student = getStudentData(studentId) //
                $('#StudentsPartial').modal('show');
                //then set the values of the modal to the values from student;
                console.log(student);
            }

        </script>
    </body>
</html>