@{
    ViewData["Title"] = "Teacher Page";
    
}

<!DOCTYPE html>

<html> 
    
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/user/user.css" asp-append-version="true" />
    </head>

    <body>
        <div class="FlexWrapper">
            <div class="FlexUpper">
                <div class="Btn LogoutBtn">Logout</div>
                <div class="Navigation">
                    <div class="Btn NavigationBtn">Groups</div>
                    <div class="Btn NavigationBtn">Students</div>
                    <div class="Btn NavigationBtn">Categories</div>
                </div>
                <div class="FlexUpperDividerLine"/>
            </div>
            <div class="FlexLower">
                <div>
                    <partial name="_CategoriesPartial.cshtml" />
                </div>
            </div>
        </div>
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    
        <script type="text/javascript">
            function showGroupsPartial(){
                $('#GroupsPartial').modal('show');
            }
            function showStudentsPartial(){
                $('#StudentsPartial').modal('show');
            }
            function logout(){
                $('#StudentsPartial').modal('show');
            }

        </script>

    </body>
</html>